{{ define "content" }}

<div class="outer">
  <div class="inner-medium">

    <article class="post post-full">
      <header class="post-header">
        <h1 class="post-title">{{ .Params.title }}</h1>
      </header><!-- .post-header -->
      {{ if .Params.image }}
      <div class="post-thumbnail">
        <img src="{{ $.Params.image | relURL }}" alt="{{ $.Params.image_alt }}" />
      </div><!-- .post-thumbnail -->
      {{ end }}
      {{ if .Params.subtitle }}
      <div class="post-subtitle">
        {{ $.Params.subtitle | safeHTML }}
      </div><!-- .post-subtitle -->
      {{ end }}
      <div class="post-content">
        {{ .Content }}
      </div><!-- .post-content -->
    </article><!-- .post -->

  </div><!-- .inner-medium -->
</div><!-- .outer-->

{{ end }}
